@import url(https://fonts.googleapis.com/css2?family=Shrikhand&display=swap);
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Shrikhand&display=swap");
* {
  box-sizing: border-box;
  width: 100%;
  margin: 0;
  padding: 0;
}

h1, h2, h3, p, a, button {
  font-family: "Roboto", sans-serif;
  color: black;
  text-decoration: none;
  font-size: 1em;
  width: auto;
}

h1, h2 {
  font-size: 1.5em;
  width: auto;
}

body {
  background-color: #ffffff;
}

.valider {
  display: inline-block;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.4);
  position: relative;
  z-index: 1;
  font-weight: 400;
  color: white;
  background: linear-gradient(#FF79DA, 30%, #9356DC);
  width: 60%;
  text-align: center;
  padding: 20px 20px;
  margin: 40px;
  border-radius: 50px;
}
@media screen and (min-width: 760px) {
  .valider {
    width: auto;
  }
}
.valider:hover::after {
  opacity: 1;
}
.valider::after {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  border-radius: 50px;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.4);
  background: rgba(255, 255, 255, 0.1);
  opacity: 0;
  transition: 300ms;
}

.favoris {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  position: relative;
  width: 100%;
}
.favoris i {
  cursor: pointer;
  position: absolute;
  width: auto;
}
.favoris i:nth-child(2) {
  opacity: 0;
  background-color: #9356DC;
  background-image: linear-gradient(#9356DC, #FF79DA);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}
.favoris i:hover:nth-child(2), .favoris i:active:nth-child(2) {
  opacity: 1;
  animation: favoris 600ms;
}

@keyframes favoris {
  0% {
    transform: scale(0);
  }
  80% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes fade {
  0% {
    visibility: visible;
    opacity: 0.8;
  }
  80% {
    opacity: 0.8;
  }
  100% {
    opacity: 0;
  }
}
@keyframes aggrandir-loading {
  0% {
    transform: scale(1);
    opacity: 0.3;
  }
  10% {
    transform: scale(1.1);
  }
  40% {
    transform: scale(1.2);
    opacity: 1;
  }
  100% {
    transform: scale(1);
  }
}
#loading-spinner {
  display: flex;
  align-items: center;
  visibility: hidden;
  opacity: 0;
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background: #e6e6e6;
  z-index: 1001;
  animation: fade 3s ease-in-out;
}
#loading-spinner_logo {
  display: flex;
  gap: 0px;
  align-items: center;
  justify-content: center;
  font-family: "Shrikhand", sans-serif;
  font-size: 3em;
}
#loading-spinner_logo span {
  width: auto;
  animation: aggrandir-loading 300ms ease-in-out both;
  background-color: #9356DC;
  background-image: linear-gradient(#9356DC, #FF79DA, #99E2D0);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}
#loading-spinner_logo span:nth-child(1) {
  animation-delay: 180ms;
}
#loading-spinner_logo span:nth-child(2) {
  animation-delay: 360ms;
}
#loading-spinner_logo span:nth-child(3) {
  animation-delay: 540ms;
}
#loading-spinner_logo span:nth-child(4) {
  animation-delay: 720ms;
}
#loading-spinner_logo span:nth-child(5) {
  animation-delay: 900ms;
}
#loading-spinner_logo span:nth-child(6) {
  animation-delay: 1080ms;
}
#loading-spinner_logo span:nth-child(7) {
  animation-delay: 1260ms;
}
#loading-spinner_logo span:nth-child(8) {
  animation-delay: 1440ms;
}

.recentrage-desktop {
  max-width: 900px;
  margin: auto;
}

header {
  display: flex;
  flex-direction: row;
  gap: 0;
  flex-wrap: wrap;
  position: relative;
  background-color: #ffffff;
  width: 100%;
}
header #accueil-menu {
  position: relative;
  background-color: white;
  z-index: 2;
}
header #retour-accueil {
  position: absolute;
  width: 20%;
  align-items: center;
  padding: 10px;
}
header #retour-accueil i {
  width: auto;
  font-size: 1.5em;
  color: black;
  transform: rotate(0deg);
  transition: transform 300ms ease-in-out;
}
header #retour-accueil i:hover {
  transform: rotate(360deg);
}
header #logo {
  margin: auto;
  padding: 10px 0px;
  width: 80%;
  height: auto;
}
header #logo img {
  object-fit: scale-down;
  height: 30px;
}
header #resume-action {
  background-color: #f2f2f2;
}
header #resume-action #localisation {
  display: flex;
  flex-direction: row;
  gap: 0;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #e6e6e6;
  box-shadow: inset 0px 8px 8px -8px rgba(0, 0, 0, 0.2);
}
header #resume-action #localisation * {
  font-weight: bold;
  width: auto;
  padding: 15px;
  color: #333333;
}
header #resume-action #presentation-entreprise {
  text-align: center;
}
header #resume-action #presentation-entreprise h1 {
  padding: 10px;
}

footer {
  background-color: #333333;
  padding: 20px;
}
footer * {
  color: #ffffff;
}
footer h2 {
  font-size: 1.2em;
  font-family: "Shrikhand", sans-serif;
  font-weight: 400;
}
footer ul {
  list-style: none;
  padding-top: 20px;
}
footer ul li {
  padding-bottom: 7px;
  transform: scale(1);
  transform-origin: left;
  transition: all 300ms ease;
}
footer ul li i {
  font-size: 0.8em;
  display: inline;
  width: 30px;
}
footer ul li:hover {
  transform: scale(1.1);
}

#fonctionnement {
  padding: 30px;
}
@media screen and (min-width: 760px) {
  #fonctionnement * {
    text-align: center;
  }
}
#fonctionnement h2 {
  margin-bottom: 30px;
}
@media screen and (min-width: 1000px) {
  #fonctionnement_list {
    display: flex;
    flex-direction: row;
    gap: 40px;
    flex-wrap: wrap;
    justify-content: center;
  }
}
#fonctionnement_list article {
  display: flex;
  flex-direction: row;
  gap: 20px;
  flex-wrap: wrap;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.4);
  position: relative;
  z-index: 1;
  border-radius: 25px;
  background-color: #f2f2f2;
  padding: 20px 30px;
  align-items: center;
  margin: auto;
  margin-bottom: 20px;
}
@media screen and (min-width: 760px) {
  #fonctionnement_list article {
    width: 300px;
  }
}
@media screen and (min-width: 1000px) {
  #fonctionnement_list article {
    margin: 0px;
  }
}
#fonctionnement_list article .numerotation {
  background-color: #9356DC;
  position: absolute;
  left: -15px;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  display: flex;
}
#fonctionnement_list article .numerotation p {
  text-align: center;
  margin: auto;
  color: white;
}
#fonctionnement_list article i {
  width: 20px;
  font-size: 1.5em;
  color: gray;
}
#fonctionnement_list article:hover::after {
  transform: scale(1) right;
  opacity: 1;
}
#fonctionnement_list article:hover i {
  color: #9356DC;
}
#fonctionnement_list article::after {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  border-radius: 25px;
  background-color: #f2eafb;
  opacity: 0;
  transition: all 300ms;
}

#list-restaurants {
  background-color: #f2f2f2;
  padding: 40px 20px;
}
#list-restaurants #cards-list {
  display: flex;
  flex-direction: row;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px 0px;
}
@media screen and (min-width: 760px) {
  #list-restaurants article {
    width: calc(50% - 20px);
  }
}

.card-restaurant {
  display: flex;
  flex-direction: column;
  gap: 0;
  flex-wrap: wrap;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.4);
  justify-content: center;
  position: relative;
  border-radius: 25px;
  overflow: hidden;
  height: 250px;
  width: 100%;
}
.card-restaurant:hover {
  animation: aggrandir-card 300ms ease-in-out forwards;
}
.card-restaurant:hover .card-restaurant_nouveau--actif {
  animation: shake 200ms ease-in-out;
  animation-iteration-count: 2;
}
.card-restaurant:hover .card-restaurant_nouveau--actif::after {
  opacity: 0.4;
}
.card-restaurant:hover .card-restaurant_description::after {
  opacity: 1;
}
.card-restaurant_nouveau {
  display: none;
}
.card-restaurant_nouveau--actif {
  position: relative;
  z-index: 1;
  position: absolute;
  top: 15px;
  right: 15px;
  padding: 7px;
  display: block;
  background-color: #99E2D0;
  color: #1b6150;
  width: auto;
}
.card-restaurant_nouveau--actif::after {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  background-color: white;
  opacity: 0;
}
.card-restaurant_image {
  width: 100%;
  height: 175px;
}
.card-restaurant_image img {
  height: 100%;
  object-fit: cover;
}
.card-restaurant_description {
  display: flex;
  flex-direction: row;
  gap: 0;
  flex-wrap: wrap;
  position: relative;
  z-index: 1;
  align-items: center;
  background-color: white;
  padding: 10px;
  width: 100%;
  height: 75px;
}
.card-restaurant_description::after {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  background-color: #f2eafb;
  opacity: 0;
}
.card-restaurant_description_nom {
  width: 90%;
}
.card-restaurant_description_favoris {
  width: 10%;
  height: 100%;
  font-size: 1.5em;
}

@keyframes aggrandir-card {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1.05);
  }
}
@keyframes shake {
  25% {
    transform: translateY(3%);
  }
  75% {
    transform: translateY(-3%);
  }
}
.presentation-restaurant {
  position: fixed;
  height: 50%;
  width: 100%;
  z-index: -1;
}
.presentation-restaurant img {
  top: -40%;
  height: 100%;
  position: relative;
  object-fit: cover;
}
.presentation-restaurant::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(255, 255, 255, 0) 200px, rgb(255, 255, 255) 50%);
}

#menu {
  display: flex;
  flex-direction: column;
  gap: 20px;
  flex-wrap: wrap;
  border-radius: 30px 30px 0px 0px;
  position: relative;
  top: 200px;
  margin-bottom: 200px;
  background-color: #f2f2f2;
  padding: 15px;
}
@media screen and (min-width: 1000px) {
  #menu {
    margin-bottom: 240px;
    border-radius: 30px;
  }
}
#menu_titre {
  display: flex;
  flex-direction: row;
  gap: 0;
  flex-wrap: wrap;
  align-items: center;
  padding: 10px 0px;
}
#menu_titre h1 {
  font-family: "Shrikhand", sans-serif;
  font-weight: 400;
  font-size: 1.8em;
  width: 80%;
}
#menu_favoris {
  width: 20%;
  text-align: center;
  font-size: 1.5em;
}
#menu section {
  display: flex;
  flex-direction: column;
  gap: 20px;
  flex-wrap: wrap;
}
#menu h2 {
  position: relative;
  z-index: 1;
  padding-bottom: 5px;
  font-weight: 300;
}
#menu h2::after {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  width: 50px;
  border-bottom: solid 4px #99E2D0;
}
#menu section:nth-of-type(1) h2 {
  animation: slide-right 300ms ease-in-out backwards;
  animation-delay: 0ms;
}
#menu section:nth-of-type(1) article:nth-of-type(1) {
  animation: slide-fade-in 1000ms ease-in-out backwards;
  animation-delay: 0ms;
}
#menu section:nth-of-type(1) article:nth-of-type(2) {
  animation: slide-fade-in 1000ms ease-in-out backwards;
  animation-delay: 400ms;
}
#menu section:nth-of-type(1) article:nth-of-type(3) {
  animation: slide-fade-in 1000ms ease-in-out backwards;
  animation-delay: 800ms;
}
#menu section:nth-of-type(1) article:nth-of-type(4) {
  animation: slide-fade-in 1000ms ease-in-out backwards;
  animation-delay: 1200ms;
}
#menu section:nth-of-type(2) h2 {
  animation: slide-right 300ms ease-in-out backwards;
  animation-delay: 1200ms;
}
#menu section:nth-of-type(2) article:nth-of-type(1) {
  animation: slide-fade-in 1000ms ease-in-out backwards;
  animation-delay: 1200ms;
}
#menu section:nth-of-type(2) article:nth-of-type(2) {
  animation: slide-fade-in 1000ms ease-in-out backwards;
  animation-delay: 1600ms;
}
#menu section:nth-of-type(2) article:nth-of-type(3) {
  animation: slide-fade-in 1000ms ease-in-out backwards;
  animation-delay: 2000ms;
}
#menu section:nth-of-type(2) article:nth-of-type(4) {
  animation: slide-fade-in 1000ms ease-in-out backwards;
  animation-delay: 2400ms;
}
#menu section:nth-of-type(3) h2 {
  animation: slide-right 300ms ease-in-out backwards;
  animation-delay: 2400ms;
}
#menu section:nth-of-type(3) article:nth-of-type(1) {
  animation: slide-fade-in 1000ms ease-in-out backwards;
  animation-delay: 2400ms;
}
#menu section:nth-of-type(3) article:nth-of-type(2) {
  animation: slide-fade-in 1000ms ease-in-out backwards;
  animation-delay: 2800ms;
}
#menu section:nth-of-type(3) article:nth-of-type(3) {
  animation: slide-fade-in 1000ms ease-in-out backwards;
  animation-delay: 3200ms;
}
#menu section:nth-of-type(3) article:nth-of-type(4) {
  animation: slide-fade-in 1000ms ease-in-out backwards;
  animation-delay: 3600ms;
}

@keyframes slide-right {
  0% {
    transform: translateY(30%);
    opacity: 0;
  }
  80% {
    transform: translateY(-20%);
    opacity: 1;
  }
}
@keyframes slide-fade-in {
  0% {
    opacity: 0;
    transform: translateY(20%);
  }
  80% {
    opacity: 1;
  }
}
.card-plat {
  display: flex;
  flex-direction: row;
  gap: 0;
  flex-wrap: wrap;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.4);
  border-radius: 20px;
  overflow: hidden;
  background-color: #ffffff;
  width: 100%;
}
.card-plat_texte {
  display: flex;
  flex-direction: row;
  gap: 10px;
  flex-wrap: wrap;
  position: relative;
  padding: 15px;
  width: 100%;
  transition: width 400ms ease-in-out;
}
.card-plat_texte h3 {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.card-plat_texte--description {
  width: 85%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.card-plat_texte--prix {
  width: calc(15% - 10px);
  text-align: right;
  font-weight: bold;
}
.card-plat_valider {
  display: flex;
  text-align: center;
  align-items: center;
  width: 0%;
  background-color: #99E2D0;
  color: #ffffff;
  font-size: 1.5em;
  transform: scaleX(0);
  transition: transform 400ms ease-in-out;
  transition: width 400ms ease-in-out;
  transform-origin: right;
}
.card-plat_valider i {
  transform: rotate(-1turn);
  transition: transform 600ms ease-in-out;
}
.card-plat:hover .card-plat_texte, .card-plat:active .card-plat_texte {
  width: calc(100% - 60px);
}
.card-plat:hover .card-plat_valider, .card-plat:active .card-plat_valider {
  width: 60px;
  transform: scaleX(1);
}
.card-plat:hover .card-plat_valider i, .card-plat:active .card-plat_valider i {
  transform: rotate(0);
}

.commander {
  text-align: center;
}

/*# sourceMappingURL=style.css.map */
