@import "./utils/variables";
@import "./utils/functions";
@import "./utils/mixins";
@import "./utils/extensions";
@import "./base/base";
@import "./base/typography";
@import "./components/buttons";
@import "./layouts/header";
@import "./layouts/footer";
@import "./layouts/nav";
@import "./layouts/container";
@import "./layouts/form";


/* Ci-dessous CSS provisoire à catégoriser une fois terminé */ 
#list-restaurants {
    background-color: $bg-basedr;
    padding: 30px 20px;
}.card-restaurant {
    &--image img {
        object-fit: cover;
        width: 100%;
        height: 250px;
        
    }
    &--description {
        background-color: white;
    }
}
