* {
    box-sizing:border-box;
    width: 100%;
    margin: 0;
    padding: 0;
}
h1, h2, h3, p, a, button {
    font-family: $Roboto;
    color: $font-basedr;
    text-decoration: none;    
    font-size: $taille-description;
    width: auto;
}
h1, h2 {
    font-size: $taille-titre;
    width: auto;
}
body {
    background-color: $bg-base;
}
