// Couleurs Theme
$colour-primary: #9356DC;
$colour-secondary: #FF79DA;
$colour-tertiary: #99E2D0;
    // Possibilité d'adapter bg-base pour theme sombre, couleur de police à revoir
$bg-base : #FFFFFF;
$bg-basedr: darken($bg-base,5%);
$bg-baseddr: darken($bg-base,10%);
$bg-baseddt: darken($bg-base,50%);
$bg-basedt: darken($bg-base,80%);
$font-basedr : darken($bg-base,100%);
// Display flex 
$flex-gap : 20px;
// Fonts
$Shrikhand: 'Shrikhand', sans-serif;
$Roboto: 'Roboto', sans-serif; 
// Fonctionnement
$padding-fonctionnement: 30px;
$taille-numerotation: 30px;
// Cards
$height-card : 250px;
$card-shadow: 0.4;
// Menu
$width-valider-plat: 60px;
//Animations
    //Accueil
$shake-intensity : 3%; // Bouton Nouveau
$nb-letter: 8; // Loading-spinner - Lettres logo
$anim-delay : 3s; // Loading-spinner - Delay Fade
    //Menu    
$nb-categorie-plat: 3;
$nb-plat: 4;
$delay-categorie-plat: $nb-plat * 300ms;
$delay-plat: 300ms;
    //Responsive
$breakpoints: (
    tablette : 760px,
    desktop : 1000px,
);