// Fonctionnement
#fonctionnement {
    padding: $padding-fonctionnement;
    @include not-mobile {
        * {
            text-align: center;
        }
    }
    h2 {
        margin-bottom: 30px;
    }
    &_list {
        @include desktop-only {
            @include flex-row(40px);
            justify-content: center;
        }
        article {
            @include flex-row;
            @include card-shadow();
            @include pseudo-btn;
            border-radius: 25px;
            background-color: $bg-basedr;
            padding: 20px $padding-fonctionnement;
            align-items: center;
            margin: auto;
            margin-bottom: 20px;
            @include not-mobile {
                width: 300px;
            }
            @include desktop-only {
                margin: 0px;
            }
            .numerotation {
                background-color: $colour-primary;   
                position:absolute;
                left: - calc($taille-numerotation / 2);
                height: $taille-numerotation;
                width: $taille-numerotation;
                border-radius: 50%;
                display: flex;
                p{
                    text-align: center;
                    margin: auto;
                    color: white;
                }
            }
            i {
                width: 20px;
                font-size: $taille-ico;
                color: $bg-baseddt;
            }
            &:hover {
                &::after {
                    transform: scale(1) right;
                    opacity: 1;
                }
                i  {
                    color: $colour-primary;
                }
            }
            &::after {
                @include pseudo-after;
                border-radius: 25px;
                background-color: lighten($colour-primary,35);
                opacity: 0;
                transition: all 300ms;                
            }
        }
    }
}
// Liste restaurants
#list-restaurants {
    background-color: $bg-basedr;
    padding: 40px 20px;
    #cards-list {
        @include flex-row();
        justify-content: space-between;
        margin: 20px 0px;
    }
    article {
        @include not-mobile {
            width: calc(50% - $flex-gap);
        }
    }
}

.card-restaurant {
    @include flex-column(0);
    @include card-shadow();
    justify-content:center;
    position: relative;
    border-radius: 25px;
    overflow: hidden;  
    height: $height-card;
    width: 100%;
    &:hover {
        animation: aggrandir-card 300ms ease-in-out forwards;
        .card-restaurant_nouveau--actif {
            animation: shake 200ms ease-in-out;
            animation-iteration-count: 2;
            &::after {
                opacity: 0.4;
            }
        }
        .card-restaurant_description::after{
            opacity: 1;
        }
            }
    &_nouveau {
        display: none;
        &--actif {          
            @include pseudo-btn;  
            position:absolute;
            top: 15px;
            right: 15px;
            padding: 7px;
            display:block;
            background-color: $colour-tertiary;
            color: darken($colour-tertiary, 50%);
            width: auto;
            &::after {
                @include pseudo-after;
                background-color: white;
                opacity: 0;                
            }
        }
    }        
    &_image {
        width: 100%;
        height: $height-card*0.7;
        img {
            height: 100%;
            object-fit: cover;
        }
    }
    &_description {
        @include flex-row(0);
        @include pseudo-btn;
        align-items: center;
        background-color: white;
        padding: 10px;
        width: 100%;
        height: $height-card*0.3;
        &::after {
            @include pseudo-after;
            background-color: lighten($colour-primary,35);
            opacity: 0;                
        }
        &_nom {
            width: 90%;
        }
    &_favoris {
        width: 10%;
        height: 100%;
        font-size: $taille-ico;
    }
    }
} 
@keyframes aggrandir-card {
    0% {
        transform: scale(1)
    }
    50% {
        transform: scale(1.1)
    }
    100% {
        transform: scale(1.05)
    }
}
@keyframes shake {
    25% {
        transform: translateY($shake-intensity);
    }
    75% {
        transform: translateY($shake-intensity * -1);   
    }
}