footer {
    background-color: $bg-basedt;
    padding: 20px;
    *{
        color: $bg-base;
        }
    h2 {
        font-size: 1.2em;
        font-family: $Shrikhand;
        font-weight: 400;
    }
    ul{
        list-style: none;
        padding-top: 20px;
        li {
            padding-bottom: 5px;
        }
    }

}