header {
    @include flex-column(0);
    background-color: $bg-basedr;
    width: 100%;
    margin-bottom: 20px;
    // A finir sur passage en page
    #retour-accueil {
        align-items: center;
        padding: 10px;
        i {            
            font-size: 1.5em;
            color: black;
        }
    }
    #logo {        
        padding: 10px 0px;
        width: 100%;
        height: auto;
        background-color: $bg-base;
        img {
            object-fit:scale-down;
            height: 30px;
        }
    }
    #localisation {
        @include flex-row(0);
        justify-content:center;
        background-color: $bg-baseddr;
        box-shadow: inset 0px 8px 8px -8px rgba(0,0,0,0.20); // Shadow intérieure
        * {
            font-weight: bold;
            width: auto; 
            padding: 15px;
            color: $bg-basedt;
        }
    }
    #presentation-entreprise {
        text-align: center;
        h1 {
            padding: 10px;
        }
    }
}