header {
    @include flex-row(0);
    position: relative;
    background-color: $bg-base;
    width: 100%;
    #accueil-menu {
        position: relative;
        background-color: white;
        z-index: 2;
    } 
    #retour-accueil {
        position: absolute;
        width: 20%;
        align-items: center;
        padding: 10px;
        i {
            width: auto; 
            font-size: $taille-ico;
            color: black;
            transform: rotate(0deg);
            transition: transform 300ms ease-in-out;
            &:hover {
                transform: rotate(360deg);
            }
        }
    }
    #logo {        
        margin: auto;
        padding: 10px 0px;
        width: 80%;
        height: auto;
        img {
            object-fit:scale-down;
            height: 30px;
        }
    }
    #resume-action {
        background-color: $bg-basedr;
        #localisation {
            @include flex-row(0);
            justify-content:center;
            background-color: $bg-baseddr;
            box-shadow: inset 0px 8px 8px -8px rgba(0,0,0,0.20); // Shadow intérieure
            * {
                font-weight: bold;
                width: auto; 
                padding: 15px;
                color: $bg-basedt;
            }
        }
        #presentation-entreprise {
            text-align: center;
            h1 {
                padding: 10px;
            }
        }
    }
}